<% content_for :title, "Provider- #{@provider.name}" %>
<p>
  <strong>Name:</strong>
  <%= @provider.name %>
</p>
  <% if @provider.parent != nil %>
  <p>
	  <strong>Parent:</strong>
	  <%= @provider.parent.click_link %>
  </p>
<% end %>


<p>
  <strong>Sub Providers:</strong><%= button_to 'Add Sub Provider', "/providers/#{@provider.id}/add_sub_provider/", method: :get  %><br>
  <% if has_data?(@provider.children)  %>
  	<%= @provider.children.inspect %>
  <% end %>
</p>




<p>
  <strong>Description:</strong>
  <%= @provider.description %>
</p>

<p>
  <strong>Org type:</strong>
  <%= @provider.org_type %>
</p>

<% if has_data?(@provider.overlays) %>
 
	<p>
	  <strong>Overlays:</strong><br>
	  <table class="table table-striped table-bordered"  style="width:100%">
	  	<% @provider.overlays.each do |overlay| %>
	  		<tr>
	  			<td><%= link_to overlay.name, overlay %></td>
	  			<td>
	  				<table class="table table-striped table-bordered"  style="width:100%">
	  					<tr>
	  						<% overlay.overlay_fields.each do |the_field| 
	  							options = the_field.overlay_field_options
	  							options_count = options.count
	  							if (options_count < 1 )
		  							options_count = 1
	  							end %>
	  							<td colspan="<%= options_count %>" align="center"> <%= the_field.name %> </td>
	  						<% end %>
	  					 </tr>
	  					 <tr>
	  						<% overlay.overlay_fields.each do |the_field| 
	  							options = the_field.overlay_field_options
	  							options.each do |option| %>
	  								<td><%= option.name %></td>
								<% end %>	
	  						<% end %>
	  					</tr>
	  				</table>	
	  			</tr>
	  		
		  <% end %>
		</table> 
	</p>

<% end %>

<% if (has_data?(@provider.domain_environments)) %>
 
	<p>
	  <strong>Domains:</strong>
	  <% if(@provider.domain_environments.count > 0) 
        		domains = @provider.domain_environments
        		domains.each do |domain| %>
	        		<%= link_to domain.name, domain%> - 
	    		<% end %>
	   <% end %>
	</p>

<% end %>

<% labels = @provider.labels 

tmp_label = Label.new
components = @provider.components

if has_data?(labels) %>
	<strong>Labels:</strong>
		 <div class="btn-group">
			<button id="all" class="btn btn-default filter">All</button>
			<% labels.each do |label| %>
				<button id="<%= label.id %>" class="btn btn-default filter"><%= label.name %>:<%= label.provider_components_count(@provider)%></button>
			<% end %> 
		</div>
		
<% end 
if has_data?(components) %>

	<table id="myDataTable2"  class="table table-striped table-bordered"  style="width:100%">
	  <thead>
	    <tr>
	      <th>Component Name</th>
	      <th>Description</th>
	      <th>Labels</th>
	    </tr>
	  </thead>
	  
	 <tbody>
    	<% 
    	if has_data?(components ) 
			components .each do |component|%>
		      <tr>
				<td><%= component.click_link %></td>
				<td><%= component.description %></td>
				<td><%= component.labels_click_link %></td>
			  </tr>
			<% end %>
		<% end %>
	     </tbody>
	</table>
	
	<script>
    var dataTables = $('#myDataTable2').DataTable({
    	"aaSorting": []
	});
	
	$('#all').on('click', function () {
	    	dataTables.column(2).search("").draw();
	    	dataTables.column(3).search("").draw();
		});
	<% labels.each do |label| %>
		$('#<%= label.id %>').on('click', function () {
	    	dataTables.column(2).search("<%= label.name %>" ).draw();
	    	dataTables.column(3).search("").draw();
		});
	<% end %>
	
	
</script>
<% end %>


 
<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
