<%= form_with(model: param, local: true) do |form| %>
  <% if param.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(param.errors.count, "error") %> prohibited this param from being saved:</h2>

      <ul>
      <% param.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if (@security_control != nil) %>
		<div class="field"> 
			<b>Security Control :</b><%=@security_control.control_id.upcase %><br>
		<div>
		<%= form.hidden_field(:security_control_id, :value => @security_control.id) %>
	<% end %>
  <div class="field">
    <%= form.label "Param ID (ac-1_a)" %>
    <%= form.text_field :params_id %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label "Value"%>
    <%= form.text_field :param_value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
