<%= form_with(model: security_policy, local: true) do |form| %>
  <% if security_policy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(security_policy.errors.count, "error") %> prohibited this security_policy from being saved:</h2>

      <ul>
      <% security_policy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :version %>
    <%= form.text_field :version %>
  </div>

  <div class="field">
  	<% 
  	provider_id = nil 
  	show_select = true
  	if (security_policy.provider_id != nil)
  		provider_id = security_policy.provider_id
  	elsif ( params[:provider_id] != nil)
  		provider = Provider.find(params[:provider_id])
  		if (has_data?(provider))  %>
  			<%= form.hidden_field :provider_id, value: provider.id %> <%
  			show_select = false
  		end
  	end
  	
  	if (show_select) %>
  	    <%= form.label :provider_id %>
	    <% provider_array = Provider.all.map { |provider| [provider.name , provider.id] } %>
	    <%= form.select :provider_id, options_for_select(provider_array , provider_id) %> <%
	 end %>
	    
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
