<p id="notice"><%= notice %></p>

<h1>Requirements</h1>
<%= will_paginate @requirements %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Statements</th>
      <th>Guidances</th>
      <th>Security controls</th>
      <th>Requirements</th>
      <th>Security policies</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requirements.each do |requirement| %>
      <tr>
        <td><%= requirement.name %></td>
        <td><%= requirement.statements %></td>
        <td><%= requirement.guidances %></td>
        <td><%= requirement.security_controls %></td>
        <td><%= requirement.requirements %></td>
        <td><%= requirement.security_policies %></td>
        <td><%= link_to 'Show', requirement %></td>
        <td><%= link_to 'Edit', edit_requirement_path(requirement) %></td>
        <td><%= link_to 'Destroy', requirement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @requirements %>
<br>

<%= link_to 'New Requirement', new_requirement_path %>
