<%= form_with(model: param_value, local: true) do |form| %>
  <% if param_value.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(param_value.errors.count, "error") %> prohibited this param_value from being saved:</h2>

      <ul>
      <% param_value.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="field">
    <%= form.label :param_id %> 
    <%= @param.description %>
  </div>
	<% if (@parent_param != nil) %>
	  <div class="field">
	    <%= form.label :param_value_id %>
	    <%= form.text_field :param_value_id %>
	  </div>
	
	<% end %>
	  <%= form.hidden_field :param_id %>
  <div class="field">
    <%= form.label :the_value %>
    <%= form.text_field :the_value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
