  <% if @search_status %>
	<div id="search_table" style="display: block;">
<% else %>
	<div id="search_table" style="display: none;">
<% end %>
<button id="showAPI" onclick="showAPI()"> Switch to API </button>
<%= search_form_for @q do |f| %>
	<table>
		<tr>
			<td>
			  	<%= f.label "Policy Name" %>
		  		<%= f.search_field :security_policy_name_cont %>
			</td>
			<td>
				<%= f.label "Version" %>
				<%= f.search_field :security_policy_version_cont %>
			</td>
		
			<td>
				<%= f.label "Family Title"%>
				<%= f.search_field :family_cont %>
			</td>
			<td>
				<%= f.label "Family abv"%>
				<%= f.search_field :abv_cont %>
			</td>
			<td>
				<br>
				<%= f.submit "search", id: "searchButton" %>
			</td>
		</tr>
	</table>
<% end %>
</div>